@import "../../../styles/common/theme.scss";


.infoDiv {
  flex: 4;
}

span {
  margin-top: 1rem;
  //flex: 2;
}
.dashWrapper {
  color: white;
  height: inherit;
  //align-items: unset;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  // justify-content: space-evenly;
}

.dashCol {
  height: 200vh;
  background-color: $darkGrey;
}

.btnDiv {
  flex: 5;
  margin: 5%;
}

.buttonGroup {
  width: 100%;
}

.dashBtn {
  background-color: $lightGrey !important;
  border-color: $lightGrey !important;
  color: black !important;
}

.dashBtn:hover {
  background-color: $cyan !important;
  color: white !important;
}
