@import "../../../styles/index.scss";
.modalBodyWrap {
  display: flex;
  flex-direction: column;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviewWrap {
  background-color: $cyan;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 1rem;
  // color: white;
}
