.hostelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hostelsBtn {
  width: 100%;
  margin: 10px 10px 10px 10px;
  background-color: #9fb7cc !important;
  border-color: #9fb7cc !important;
  color: black !important;
}

.hostelsBtn:hover {
  background-color: #aebcb2 !important;
  border-color: #aebcb2 !important;
  color: white !important;
}
